<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Programming3Week4" connectionString="Data Source=assignments-programming.database.windows.net;
         Initial Catalog=Programming; User=testadmin; Password=Test.admin"/>
	</connectionStrings>
</configuration>